/* styled the body so my entire page will automatically know fonts specifications and background */
body {
  font-family: sans-serif;
  color: #fff;
  background-color: rgb(226, 181, 164);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav a {
 padding: 10px;
  text-align: center;
  text-decoration:none; 
  color: #fff;
}

nav div {
  display: flex;
  justify-content: center;

}

nav a:hover {
color: red;
}

main #about-me{
 justify-content: left;
 height: fit-content;
 width: fit-content;
}


.headshot {
display: flex;
justify-content: left;
align-items: center;
width: 30%;
}

.my-name {
display: flex;
flex-wrap: wrap;
align-items:center;
justify-content: space-between;
padding: 10px;
font-size: larger;
}

.header-links{
flex-direction: row;
}

.my-image{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* project specifications for all work */
.project {
  display: flex;
  flex: 5;
  padding: 40px;
  align-items: flex-start;
  margin: auto;
}

main #completed-work{
 justify-content: left;
 height: fit-content;
 width: max-content;
}

.project h2 {
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  text-align: center;
  color: black;
}

.project div h1 {
  width: 30vw;
  border-right-style: 50px solid black
  
}

.project p {
  text-align: center;
  color: black;
}

.project img {
  width: 100%;
  border: #fff;
  border-radius: 10px;
}

.project-display {
  border: 5px solid;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  max-width: 400px;
} 

.project-display:hover {
  background-color: pink;
}

.project-first {
  max-width: 500px;
}

footer {
  padding: 20px;
  text-align: center;
  margin: auto;
}

@media (max-width: 768px) {
  main,
  nav,
  .product {
    flex-direction: column;
  }
  .product-details {
    margin-left: 0;
  }
  body {
    color: green;
  }
}